.basic-back {
    background: gray;
}
button {
    cursor:pointer;
}
body {
    font-family: monospace;
    touch-action:pinch-zoom;
}
.menu-bar button {
    margin: 0%;
    padding: 3%;
    font-size: 150%;
    font-family: monospace;
    left: 30%;
    top: 200px;
    position: static;
    float: left;
    width: 12%;
    text-align: center;
    outline: 2px black solid;
    border: none;
    background: rgb(51, 51, 51);
    color: black;
}
.menu-bar button:hover {
    transition-duration: 0.2s;
    background: rgb(70, 70, 70);;
}
.menu-bar input {
    display: block;
    background-color: gray;
    outline: none;
    border: none;
    color: black;
}

.setting {
    outline: none;
    padding-left: 4%;
    padding-top:0%;
    padding-right: 2%;
    padding-bottom:0%;
    font-size: 500%;
    font-family: monospace;
    background-color: gray;
    margin: 5%;
    border: 1px black solid;
    display: block;
    max-width: 55%;
    right: 0;
    
}
.settings-box {
    margin: 0.5%;
    padding: 0%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    outline: 2px black solid;
    background-color: darkgray;
    height: 75.1%;
    width: 28%;
    overflow-y:scroll;
    overflow-x: hidden;
    
}

.light-panel{
    margin: 1%;
    padding: 1%;
    border: black 2px solid;
}
.panel-top-words h1{
    font-weight: bolder;
    font-size: larger;
    margin: 0%;
    padding: 0%;
    display: inline;
}
.panel-top-words p{
    font-weight: normal;
    font-size: small;
    color: rgb(0, 82, 18); 
    display: inline;
}

.light-panel input{
    font-family: monospace;
    background-color: darkgray;
    border: none;
    outline: none;
    color: gray;
    display: inline;
    width: 50%;
}
.light-panel button{
    font-family: monospace;
    background-color: darkgray;
    border: none;
    outline: none;
    color: gray;
    border-radius: 3px;
}
.light-panel button:hover{
    transition: 20ms;
    background-color: rgb(189, 189, 189);
}

.light-file{
    float: inline-end;
    outline: 3px black double;
    margin: 2%;
}
.light-file button{
    margin-left: 4%;
}
.light-file h2{
    font-size: inherit;
    margin-top: 0%;
    font-weight: 20px;
    margin: 1%;
}
.light-file p{
    text-decoration: black;
    font-family: monospace;
    margin: 2%;
}
.light-heading h2{
    display: inline;
}
.light-heading button{
    margin-block: 2%;
}

.add button{
    font-family: monospace;
    background-color: darkgray;
    border: none;
    outline: none;
    color: gray;
    display: inline-block;
    border-radius: 3px;
}
.add button:hover{
    transition: 20ms;
    background-color: rgb(189, 189, 189);
}
.add2 input{
    font-family: monospace;
    background-color: darkgray;
    border: none;
    outline: none;
    color: gray;
    display: inline;
    width: 20%;
    margin: 0%;
}
.add input{
    font-family: monospace;
    background-color: darkgray;
    border: none;
    outline: none;
    color: gray;
    display: inline;
    width: 50%;
    margin: 1%;
}
.add p{
    font-size: xx-small;
}

.confirmer{
    background-color: darkgray;
    padding: 1%;
    width: fit-content;
    align-items: center;
    border: 1px black solid;
}
.confirmer button{
    background-color: gray;
    border: 1px black solid;
}

.param input[type=range] {
    -webkit-appearance: none;
    margin: 2% 0;
    width: 100%;
}
.param input[type=range]::-webkit-slider-thumb{ 
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 16px;
    width: 32px;
    border-radius: 3px;
    background-image: url(https://www.pngall.com/vertical-line-png);
    background: #c0c0c0;
    cursor: grab;
}
.param input[type=range]::-webkit-slider-thumb:active{ 
    cursor: grabbing;
}
.param input[type=range]::-webkit-slider-runnable-track:active{
    cursor: grabbing;
}
.param input[type=range]::-webkit-slider-runnable-track{               
  border: 1px solid #000000;
  height: 100%;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;

  background-color: rgb(105, 105, 105);
  cursor: grab;
}



.panel-header{
    
}
.settings-header h3{
    font-size: 200%;
    font-family: monospace;
    font-weight: 9999999;
    margin: 2%;
    margin-top: 2%;
}
.settings-header input{
    font-family: monospace;
    background-color: darkgray;
    border: none;
    outline: none;
    color: gray;
    display: inline;
    width: 50%;
    margin: 2%;
}
.settings-header button{
    font-family: monospace;
    background-color: darkgray;
    border: none;
    outline: none;
    color: gray;
    display: inline-block;
    border-radius: 30%;
}
.settings-header button:hover{
    transition: 20ms;
    background-color: rgb(189, 189, 189);
}

.param-slider-div button{
    display: inline-block;
    float: right;
    margin: 2%;
}
.param-slider-div p{
    display: inline-block;
}


*p {
    text-decoration: black;
    font-family: monospace;
}

.main-stage {
    margin: 0%;
    padding: 0%;
    width: 70%;
    border: black solid 2px;
    height: 75%;
    right: 0.5%;
    bottom: 0.5%;
    position: absolute;
    background-color: rgb(51, 51, 51);
    overflow-x:visible;
    display: inline;
}
.slider{
    align-items: center;
    block-size: 100%;
    
    padding: 0%;

}
.slider p{
    text-align: center;

}
.slider sub{
    font-family: monospace;
    margin: 0%;
    align-self: center;
}
 .slider input[type=range] {
    -webkit-appearance: none;
    position: relative;
    margin-inline: -25%;
    margin-block: 30%;
    width: 60%;
    height: 40px;
    background-color: transparent;
    transform: rotate(270deg);
}
 .slider input[type=range]::-webkit-slider-thumb{ 
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 100%;
    width: 10%;
    border-radius: 3px;
    background-image: url(https://www.pngall.com/vertical-line-png);
    background: #c0c0c0;
    cursor: grab;
}
.slider input[type=range]::-webkit-slider-thumb:active{ 
    cursor: grabbing;
}
.slider input[type=range]::-webkit-slider-runnable-track:active{
    cursor: grabbing;
}
.slider input[type=range]::-webkit-slider-runnable-track{               
  border: 1px solid #000000;
  height: 100%;
  width: 16px;
  border-radius: 5px;
  background: none;

  background-color: rgb(105, 105, 105);
  cursor: grab;
}
